*{
	margin: 0;
	padding: 0;
	text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: All 0.2s ease;
-moz-transition: All 0.2s ease;
-o-transition: All 0.2s ease;
-ms-transition: All 0.2s ease;
transition: All 0.2s ease;
box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

img{
	width: 100%;
	height: 200px;
}
section{
	padding: 20px;
	background: #c4d2ec;
}
header{
	background: #121619;
	width: 100%;
	padding: 20px 30px;
}
h1{
	color:#fff;
	padding: 20px 0;
}
h2{
	color:#fff;
}

article{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	background: #fff;
	text-align: center;
	padding: 30px;
	margin: 10px;
	border-radius: 3px;
}
h3{
	font-size: 16px;
	padding: 10px;
}
p{
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
}
@media screen and (max-width:833px){
article{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	background: #fff;
	text-align: center;
	padding: 30px;
	margin: 5px 0px;
	border-radius: 3px;
}
section{
	padding: 5px;
}
}